.modal {
	position: relative;
	z-index: 999;
	width: 720px;
	background-color: var(--background);
	border-radius: 40px;

	.close {
		position: absolute;
		top: 60px;
		right: 40px;
		cursor: pointer;
	}
}
