.header {
	background-color: var(--background);
}

.navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;

	.nav_container {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		svg {
			max-width: 100%;
			height: auto;
		}
	}

	a {
		color: var(--text-inactive-color);
		text-decoration: none;
	}

	.isActive {
		color: var(--text-primary-color);
	}
}
