@font-face {
	font-family: 'JetBrainsMono';
	src: url('../src/app/assets/fonts/JetBrainsMono-Regular.ttf') format('ttf');
	src: url('../src/app/assets/fonts/JetBrainsMono-ExtraBold.ttf') format('ttf');
	src: url('../src/app/assets/fonts/Iceland-Regular.ttf') format('ttf');
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Jet Brains Mono', sans-serif;
}

.portal {
	position: absolute;
	top: 0;
	left: 0;
}
